{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('core.index') }}">
      <img
        src="{{ url_for('static', filename='logo/logo-385x591.png') }}"
        alt="logo"
        style="max-width: 38px"
      />
      Flame Check
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('core.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" aria-disabled="true"
            >Patient Access API</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ url_for('provdir.index')}}" class="nav-link"
            >Provider Directory API</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('drugformulary.index') }}"
            aria-disabled="true"
            >Drug Formulary API</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock navbar %}
