{% extends 'base.html' %} {% block content %}
<h1>Drug Formulary API</h1>
<form method="POST" action="{{ url_for('drugformulary.index') }}">
  <div class="mb-3">
    <label for="base_url" class="form-label">Base URL:</label>
    <input
      type="text"
      id="base_url"
      name="base_url"
      class="form-control"
      required
    />
    <div class="form-text">Example: "https://beta.healthtrioconnect.com"</div>
  </div>
  <button type="submit" class="btn btn-primary">Test Connection</button>
</form>
<div>
  {% if connection_result %}
  <p>Connection Result: {{ connection_result }}</p>
  {% endif %}
</div>

<script>
  const testConnectionButton = document.querySelector('button[type="submit"]');

  document.querySelector("form").addEventListener("submit", (event) => {
    testConnectionButton.disabled = true;
    testConnectionButton.innerHTML =
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status"> Loading...</span>';
  });
</script>
{% endblock content %}
